@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Configurar Asignaturas</h2>
            <p>Configurar asignaturas del grado, temario y test ya importados.</p>
            <p><button type="button" class="btn btn-default btn-md" onclick="location.href='@Url.Action("MenuAsignaturas", "MenuAsignaturas")'"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Configurar </button></p>
        </div>
        <div class="col-md-4">
            <h2>Importar Test</h2>
            <p>Importar test por cada asignatura y temario, previsualizando lo importado.</p>
            <p><button type="button" class="btn btn-default btn-md"  onclick="location.href='@Url.Action("UploadPdf", "UploadPdf")'"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Importar </button></p>
        </div>
        <div class="col-md-4">
            <h2>Administrar Usuarios</h2>
            <p>Alta, baja y modificación de usuarios y <br />roles de usuario.</p>
            <p><button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Administrar </button></p>
        </div>
    </div>
</div>
