<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://laboratorio1ingsw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>laboratorio1ingsw.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Laboratorio1IngSw</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Laboratorio1IngSw</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:testunir.database.windows.net,1433;Initial Catalog=Laboratorio1IngSw_db;User ID=jgasparh@testunir;Password=IntheStreet2017Below" Name="Data Source=tcp:testunir.database.windows.net,1433;Initial Catalog=Laboratorio1IngSw_db;User Id=jgasparh@testunir;Password=IntheStreet2017Below" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Laboratorio1IngSw.Models.ApplicationDbContext, Laboratorio1IngSw" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:testunir.database.windows.net,1433;Initial Catalog=Laboratorio1IngSw_db;User Id=jgasparh@testunir;Password=IntheStreet2017Below</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>